<!DOCTYPE html>
<html>
<head>
<title>{{images.0.name}}</title>
<meta charset="utf-8">
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<link href="/node_modules/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<style>
body {
    background: black;
}
#map {
    position: absolute;
    left: 0px; top: 0px; right: 0px; bottom: 0px;
    background: none;
}
/* To enable links in tiles */
/* div.leaflet-tile { pointer-events: auto; } */
</style>
</head>
<body>
<div id="map" style=""></div>
<script type="text/javascript">
var map = L.map('map', {
    minZoom: 0,
    maxZoom: {{maxzoom}},
    zoom: 0,
    crs: L.CRS.Simple,
    center: new L.LatLng(-({{tileheight/2}}),{{tilewidth/2}})
});
L.tileLayer(
    '{{images.0.tiles}}',
    {attribution: ''}).addTo(map);
</script>
</body>
</html>
